*{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 50px;
    box-shadow: 0 20px 40px rgba(222, 220, 220, 0.1);
}
.cafe-name{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.cafe-name h1{
    font-family: 'Playfair Display', serif;
    color: white;
}
.cafe-name i{
    font-size: 28px;
    color: white;
}
.options{
    margin-left: 30px; 
    display: flex;
    justify-content: space-evenly; 
    align-items: center; 
    flex-wrap: wrap; 
}
.options a{
    text-decoration: none;
    font-size: 1rem;
    margin-right: 150px;
    color: black;
    height: 28px;
    width: fit-content;
    color: white;
}
.options a:hover{   
    text-decoration: underline;
    transition: 0.3s ease-in;
    color: orange;
}
.header-search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
}
.header-search input{
    width: 160px; 
    border: 2px solid orange;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-left: 5px;
}
.header-search i{
    font-size: 18px;
    color: white;
    background-color: orange;
    width: 23px;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.header-cart{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-cart i{
    color: white;
    margin-bottom: 12px;
}
.header-cart i:hover{
    color: orange;
}
.header-cart{
    font-size: 22px;
    margin-top: 15px;
}
.shape{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    box-shadow: 0 20px 40px rgba(138, 136, 136, 0.1);
}
.hero-title{
    margin-top: 250px;
    text-align: center;
    color: white;
}
.hero {
  height: 730px;
  width: auto;
  background-image: 
    linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
    url("hero.jpg");
  background-size: cover;
  background-position: center;
}
#food-categories-title{
   text-align: center;
   margin-top: 20px;
}
.food-categories{
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.box a{
    color: black;
    text-decoration: none;
    position: relative;
    top: 10px;
    left: 60px;
}
.inner-circle{
    height: 200px;
    width: 200px;
    background-size: cover;
    background-color: white;
    background-position: center;
    border-radius: 20px;
}
.recommendations{
    background-color: #F5F5F5;
    margin-top: 20px;
}
.rec-title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    margin-top: 30px;
}
.in-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 80px;
    border: 2px solid red;
    border-radius: 15px;
    gap: 8px;
}
.in-detail:hover{
    cursor: pointer;
    border: 2px solid green;
}
.in-detail p{
    margin-top: 10px;
    font-size: 1.2rem;
}
.in-detail i{
    font-size: 20px;
}
.rec-background{
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.rec-box{
    height: 265px;
    width: 260px;
    border-radius: 10px;
    border: 2px solid orange;
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
    margin-bottom: 30px;
}
.rec-image{
    height: 130px;
    width: auto;
    background-size: cover;
}
.rec-box h5{
    text-align: center;
    margin-top: 5px;
}
.rec-box p{
    line-height: 5px;
    margin-left: 5px;
}
.rating{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 48px;
    border-radius: 5px;
    background-color: green;
    color: white;
    gap: 3px;
    position: absolute;
    right: 5px;
}
.rating i{
    font-size: 0.85rem;
}
.rating p{
    margin-top: 15px;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 80px;
    border: 2px solid red;
    border-radius: 10px;
    gap: 10px;
    margin-left: 15px
}
.buttons p{
    margin-top: 15px;
}
.cart-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 80px;
    border: 2px solid green;
    border-radius: 10px;
    gap: 10px; 
}
.cart-button p{
    margin-top: 15px;
}
.all-button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}
.about-section{
    margin-top: 30px;
}
#about-title{
    text-align: center;
    margin-top: 40px;
}
.about{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.bx{
    margin-top: 20px;
    height: 180px;
    width: 280px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(200, 198, 198, 0.1);
}
.abt {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    margin-top: 60px;
    flex-wrap: wrap;
}

.abt-title {
    padding: 25px;
    line-height: 40px;
    flex: 1;
}

.abt h4 {
    text-align: center;
}

.abt p {
    font-size: 1rem;
}


.abt-img {
    background-image: url(https://images.pexels.com/photos/1640772/pexels-photo-1640772.jpeg);
    background-size: cover;
    background-position: center;
    height: 300px;
    flex: 1;
    min-width: 280px;
}
.footer{
    background-size: cover;
    background-image: 
    linear-gradient(rgba(190, 190, 190, 0.55), rgba(190, 190, 190,0.55)),
    url(https://static.adoric.com/1585414561268_am18ilpo2mr/11219.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 70px;
    padding-bottom: 30px;
    padding-top: 40px;
    height: auto;
    width: auto;
}
.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    line-height: 40px;
    flex-wrap: wrap;
}
.footer-box li{
    list-style-type: none;
}
.footer-box a{
    color: black;
    text-decoration: none;
}




